body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.top{
    top: 0;
    position: fixed;
    width: 100%;
    z-index:1;
    letter-spacing: 4px;
}
.bar{
    width: 100%;
    overflow: hidden;
}
.white{
    color:black;
    background-color:lightgrey;
}
.padding{
    padding: 8px 16px;
}
.bar-item{
    padding-top: 8px;
    padding-bottom: 16px;
    padding-right: 40px;
    padding-left: 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    font-weight: bold;
}
.button{
    text-align:center;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.right{
    float: right;
}
.content{
    margin-left: auto;
    margin-right: auto;
}
.row1{
    content: "";
    display: table;
    clear:both;
}
.padding-row1{
    padding-top: 64px;
    padding-bottom: 64px;
}
.col{
    float: left;
}
.padding-col{
    padding: 12px 24px;
}
@media(min-width: 600px){
    .col{
        width:  49.9999%;
    }
}
.center{
    text-align: center;
    font-weight:500;
    letter-spacing: 4px;
}
.font_1{
    font-size: 20px;
}
.font_2{
    font-size: 20px;
    color:#757575;
}

html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
.hr{
    border: 0;
    border-top: 1px solid #eee;
}
.row2{
    content: "";
    display: table;
    clear:both;
}
.padding-row2{
    padding-top: 64px;
    padding-bottom: 64px;
}
.col2{
    float: left;
}
@media(min-width: 900px){
    .col2{
        width:  49.9999%;
    }
}
.padding-col2{
        padding: 12px 24px;
    }
.image{
    max-width: 100%;
    height: auto;
}
.col3{
    float: center;
    padding-top: 64px;
    padding-bottom: 64px;
}
.center1{
    text-align: left;
    font-weight:500;
    letter-spacing: 4px;
}
.text-blue{
    color:#607d8b;
}
.flex-num{
    width: 30px;
    height: 50px;
    background-color: lightcoral;
    margin: 20px;
    padding: 50px;
}
.flex-container{
    display: flex;
    background-color: lightslategray;
}